@media only screen and (max-width: 1770px) {

  #aboutMeInfoContainer {
	grid-template-columns: auto auto !important;
	gap: 0 50px !important;
	padding-left: 5em !important;
	padding-top: 4.5em !important;
  }
  #imageArea > img {
	width: 15em !important;
	height: 21em !important;
  }
  #portrait {
	width:unset !important;
  }
  #imageArea {
	width: 17em !important;
  }
}
@media only screen and (max-width: 1200px) {
  #portrait {
	float: unset !important;
	width: 100% !important;
	position: relative !important;
	float:unset !important;
  }
  #imageArea {
	width: 100% !important;
  }
  #imageArea > img {
	width: 20em !important;
	height: 26em !important;
  }
  #aboutMeInfoContainer {
	grid-template-columns: auto !important; 
	grid-template-rows: auto !important;
	padding-top: 0em !important;
	padding-left: 2.5em !important;
	width: 80vw !important;
  } 
  #aboutMeSection {
	height: auto;
  }
}
body {
	margin: 0;
}
p, h1, h2 {
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
	font-size: 8em;
}
h2 {

}
p {
	font-size: 1.2em;
}
.siteSection {
	height: 100vh;
	width: 100vw; 
	max-width: 100%; /* work around horziontal scrollbar bug*/
	overflow: hidden;
}
#aboutMeSection {
	background-color: #0A0E19;
	min-height: 100vh;
	height: auto;
}
#projectsSection {
	background-color: #315C4F;
}
#endingSection {
	background-color: #5D2828;
}
#portrait {
	/* background-color: skyblue; */
	float:right;
	width: 26vw;
	position: absolute;
	right:0;
	top:0;
	margin-top: 4.5em;
}
#imageArea {
	width: 25em;
	text-align: center;
}
#imageArea > img {
	width: 25em;
	height: 31em;
	object-fit:scale-down;
}
 #aboutMeInfoContainer {
	display: grid;
	/* grid-template-columns: repeat(auto-fill, 500px); */
	grid-template-columns: 500px 500px;
	grid-template-rows: 200px 250px;
	width: 65vw;
	float:left;
	/* background-color: brown; */
	padding-left: 10em;
	padding-top: 4.5em;
	gap: 0 100px;
}
#favProgramming {
	grid-row: auto / span 2;
}



#projectsHeader {
	margin: 3em;
	margin-left: 5em;
	/* background-color: #28b870; */
	/* width: 40vw; */
}
#projectsHeader > p {
	margin:0;
	font-size: 1.4em;
}
#projectsText {
	margin: 0em;
	font-weight: normal;
}